@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ece5d6;
  color: #34322b;
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
